{% extends 'mentors/base.html' %}
{% load static %}
{% block title %}Create Letter{% endblock title %}
{% block content %}

    <section class="cud_letter">
        <form action="" id="formCreate" class="flex fd-col ai-c">
            <div class="inputs flex fd-row">
                <label for="image" class="flex jc-fe"><i class="fas fa-user-plus fa-5x"></i></label>
                <input type="file" name="image" id="image">
                <div class="name_text flex fd-col ai-fs">
                    <input type="text" name="name" id="name" placeholder="Name..." required>
                    <textarea name="text" id="text" rows="7" placeholder="Start typing here..." required></textarea>
                </div>
            </div>
            <div class="buttons_cta">
                <a href="{% url 'index' %}" id="backbtn" class="button">Back</a>
                <input class="button" type="submit" value="Save">
            </div>
        </form>
    </section>

    <script src="{% static 'js/create_letter.js' %}"></script>

{% endblock content %}

