{% extends 'mentors/base.html' %}
{% load static %}
{% block content %}

<section class="cud_letter">
    <div class="flex fd-col">
        <input type="hidden" name="letter_id" id="letter_id" value="{{pk}}">
        <p>Are you sure you want to delete a letter?</p>
        <br>
        <div class="buttons_cta">
            <a href="{% url 'index' %}" id="backbtn" class="button">Back</a>
            <a class="button" id="delete">Delete</a>
        </div>
    </div>
</section>

<script src="{% static 'js/delete_letter.js' %}"></script>

{% endblock content %}

