{% extends 'mentors/base.html' %}
{% load static %}
{% block content %}

    <section class="cud_letter">
        <form id="editForm" action="" class="flex fd-col">
            <input type="hidden" name="letter_id" id="letter_id" value="{{letter.id}}">
            <div class="inputs flex fd-row">
                <label for="id_image" class="flex jc-fe">
                    <img src="{{letter.image.url}}" alt="letter_image"><i class="fas fa-plus-circle fa-3x"></i></i>
                    {{form.image}}
                </label>
                <div class="name_text flex fd-col ai-fs">
                    {{form.name}}
                    {{form.text}}
                </div>
            </div>
            <div class="buttons_cta">
                <a href="{% url 'index' %}" id="backbtn" class="button">Back</a>
                <input class="button" type="submit" value="Save Changes">
            </div>
        </form>
    </section>

    <script src="{% static 'js/edit_letter.js' %}"></script>

{% endblock content %}


