{% extends 'mentors/base.html' %}
{% load static %}
{% block content %}
<div class="flex fd-col">
    <input type="text" name="name" id="name" required>
    <textarea name="text" id="text" cols="30" rows="10" required></textarea>
    <input type="file" name="image" id="image">
    <input id="submitBtn" type="submit" value="Create">
</div>
<form id="editForm" action="" >
    <input type="hidden" name="letter_id" id="letter_id" value="{{letter.id}}">
    <!-- <input type="file" name="imageLetter" files={{letter.image}} value={{letter}} id="imageLetter"> -->
    {{form.as_p}}
    <input type="search" id="submitBtn" value="Save Changes">
</form>

<!-- <form id="formLetter" action="">
    {{letter.name}} -->
    
    <!-- <img src="/static/images/{{ letter.image }}" alt=""> -->
    <!-- <img src="{{ letter.image.url }}" alt="">
     {{letter.text}} -->
    <!-- <input type="range" name="btnLetter" id="btnLetter" value="btnLetter">
</form>  -->

    <script src="{% static 'js/edit_letter4.js' %}"></script>
{% endblock content %}


