{% extends 'mentors/base.html' %}

{% load static %}
{% block title %}My Mentors{% endblock title %}

{% block content %}
    <div class="index">
        <h2>My Mentors</h2>
        <p>*A Thank You letter to my programming teachers.</p>
        <br>
        <div id="mentor_list" class="flex fd-col">
        </div>

        <br>
        <br>
        <br>

        <div class="letter">
            <h4>Your Thank You letter.</h4>
            <p>*Here you can leave your own Thank You letter to whomever you want.</p>
            <br>
            <div id="ty_letters" class="flex fd-col">
                <div class="card">
                    <div class="flex fd-row jc-fs">
                        <div class="mentor_image">
                            <img src="/static/images/ilnarxx.jpeg" alt="mentor_photo">
                        </div>
                        <div class="name_link">
                            <h3>Ilnar XX</h3>
                            <p>Thank you for convincing me to become a coder!</p>
                            <div class="flex fd-row jc-fs">
                                <a href="" id="update" class="button">Edit</a>
                                <a href="" id="del" class="button">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="flex fd-row jc-fs">
                        <div class="mentor_image">
                            <img src="/static/images/inlnar.jpeg" alt="mentor_photo">
                        </div>
                        <div class="name_link">
                            <h3>Ivan Ivanov</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic laborum quae modi eius. Totam mollitia molestiae quis ex eos temporibus.</p>
                            <div class="flex fd-row jc-fs">
                                <a href="" id="update" class="button">Edit</a>
                                <a href="" id="del" class="button">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="flex fd-row jc-fs">
                        <div class="mentor_image">
                            <img src="/static/images/mosh.jpeg" alt="mentor_photo">
                        </div>
                        <div class="name_link">
                            <h3>Jone Doe</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, voluptas quas iure consectetur ut doloremque recusandae quia eveniet necessitatibus commodi cum minima incidunt veritatis iusto corporis eligendi saepe repellat officia.</p>
                            <div class="flex fd-row jc-fs">
                                <a href="" id="update" class="button">Edit</a>
                                <a href="" id="del" class="button">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="plus flex fd-row">
                <a href=""><i class="fas fa-plus fa-3x"></i></a>
            </div>
        </div>
    </div>

    <script src="{% static 'js/mentor_index.js' %}"></script>

{% endblock content %}