{% extends 'mentors/base.html' %}

{% load static %}
{% block title %}My Mentors{% endblock title %}

{% block content %}
    <div class="index">
        <h2>My Mentors</h2>
        <p>*A Thank You letter to my programming teachers.</p>
        <br>
        <div id="mentor_list" class="flex fd-col">
        </div>

        <br><br><br>

        <div class="letter">
            <h4>Your Thank You letter.</h4>
            <p>*Here you can leave your own Thank You letter to whomever you want.</p>
            <br>
            <div id="ty_letters" class="flex fd-col">
            </div>

            <div class="plus flex fd-row">
                <a href="{% url 'create_letter' %}"><i class="fas fa-plus fa-3x"></i></a>
            </div>
        </div>
    </div>

    <script src="{% static 'js/mentor_indexx.js' %}"></script>

{% endblock content %}


