{% extends 'mentors/base.html' %}
{% load static %}
{% block title %}{{mentor.mentor_name}}{% endblock title %}

{% block content %}

    <section class="mentor">
        <input type="hidden" name="pk_mentor" id="pk_mentor" value="{{mentor.id}}">
        <div style="max-width: 600px;" id="mentor_list" class="flex fd-col">
            <h2>Mentor</h2>

            <div id="card_text_container" class="card_text_container">
                <!-- Mentor's info goes here -->
            </div>

            <div id="course_container" class="course_container">
                <!-- All mentor's course goes here -->
            </div>

        </div>
    </section>

    <script src="{% static 'js/mentor_detail.js' %}"></script>

{% endblock content %}

